body {
    margin: 0;
    padding: 0;
}

.cicleSlider {
    width: 100%;
    height: 100vh;
    background: #333;
    overflow: hidden;
}

.rotate-slider {
    margin: 20em auto;
    height: 360px;
    /* overflow: hidden; */
    width: 480px;
}

.rotate-slider ul.cicleSlides {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    top: 0;
    left: 50%;
    -ms-transform-origin: center center;
    transform-origin: center center;
    width: 100%;
}

.rotate-slider ul.cicleSlides.animate {
    -webkit-transition: all 0.75s ease-in-out;
    transition: all 0.75s ease-in-out;
}

.rotate-slider ul.cicleSlides li {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    color: #fff;
    list-style: none;
    position: absolute;
    top: 0;
    left: 50%;
    text-align: center;
    -ms-transform-origin: bottom center;
    transform-origin: bottom center;
    width: 100%;
    background: #f12;
}

.rotate-slider ul.cicleSlides li h2 {
    font-size: 32px;
}

.rotate-slider ul.cicleSlides li:nth-of-type(1) {
    background: url('../../../img/team/hhl.jpg');
}

.rotate-slider ul.cicleSlides li:nth-of-type(2) {
    background: url('../../../img/work/large/hhl-adyh01.jpg');
}

.rotate-slider ul.cicleSlides li:nth-of-type(3) {
    background: url('../../../img/team/jeffi-row.jpg');
}

.rotate-slider ul.cicleSlides li:nth-of-type(4) {
    background: url('../../../img/work/large/17.jpg');
}

.rotate-slider ul.cicleSlides li:nth-of-type(5) {
    background: url('../../../img/team/zyb.jpg');
}

.rotate-slider ul.cicleSlides li:nth-of-type(6) {
    background: url('../../../img/work/large/zyb-ywmlc01.jpg');
}

.rotate-slider ul.cicleSlides li:nth-of-type(7) {
    background: url('../../../img/team/zsq.jpg');
}

.rotate-slider ul.cicleSlides li:nth-of-type(8) {
    background: url('../../../img/work/large/18.jpg');
}

.rotate-slider ul.cicleSlides li:nth-of-type(9) {
    background: url('../../../img/team/wyc.jpg');
}

.rotate-slider ul.cicleSlides li:nth-of-type(10) {
    background: url('../../../img/work/large/14.jpg');
}

.rotate-slider ul.cicleSlides li .rotateInner {
    box-sizing: border-box;
    padding: 2em;
    height: 100%;
    width: 100%;
}