.waveTitle {
    background-color: #215;
    background-image: linear-gradient(to bottom, rgba(119, 17, 85, 0.5), transparent);
    mmin-height: 200px;
    padding: 2rem;
    color: #fff;
    text-align: center;
}

.contentText {
    min-height: 200px;
    padding: 2rem;
    margin: 0 auto;
    max-width: 900px;
}

.waveHeader {
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

canvas {
    display: block;
    background: transparent;
    /* opacity: 0.5; */
}

#canvas {
    background-color: rgba(158, 167, 184, 0.2);
}